@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
  }
  
  :root {
    --font-urbanist: "Urbanist", sans-serif;
  }
  
  html {
    font-family: var(--font-urbanist);
  }
